name: CI

on:
  push:
    branches: [main]
    tags: [v*.*.*]
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31.9.0
        with:
          github_access_token: ${{ github.token }}

      - run: nix flake check --all-systems
      - run: nix build

  lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - run: |
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint

      - uses: golangci/golangci-lint-action@v9
        with:
          install-mode: none

  gomod2nix:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - run: make gomod2nix.toml
      - run: git diff --exit-code gomod2nix.toml
